{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" data-toggle="modal" data-target="#novaTarefa">
                        Nova tarefa
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- Tabela -->
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Título tarefa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="listagem">
            {% for task in get_tasks %}
                <tr>
                <th scope="row">{{ task.id }}</th>
                <td>{{ task.titulo }}</td>
                <td>{{ task.descricao }}</td>
                <td>{{ task.get_status_display }}</td>
                <td><a href="#" id="remover" rel="{{ task.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                <td><a href="#" id="linkeditar" rel="{{ task.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal nova tarefa -->
    <div id="novaTarefa" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Conteúdo-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nova tarefa</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="titulo" class="form-control" id="titulo" placeholder="Digite um titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input type="descricao" class="form-control" id="descricao" placeholder="Digite uma descricao" name="descricao" required>
                </div>
                <button type="submit" id="inserir" class="btn btn-primary btn-block">Inserir</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal editar tarefa -->
    <div id="editarTarefa" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Conteúdo-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar tarefa</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control" id="edittitulo" placeholder="Digite um titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input type="text" class="form-control" id="editdescricao" placeholder="Digite uma descricao" name="descricao" required>
                </div>
                <input type="hidden" name="pk" id="edittarefaid" value="">
                <button type="submit" id="editar" class="btn btn-primary btn-block">Editar</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
    </div>
    <script src="/static/js/scripts.js">
    </script>
{% endblock %}