{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
            </div>
            <div class="alert alert-danger">
                <strong>
                {% if erros %} 
                {{erros}} 
                {% endif %} 
                </strong>
            </div>
            <button type="submit" class="btn btn-default">Logar</button>
        </form>
    </div>
{% endblock %}